:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    position: relative;  
    padding: 1em;  
}

header .login-button {
    flex: 0;
    min-width: 15%;
    max-width: 25%;
}


header .title {
    font-size: 28px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


header .user-info {
    font-size: 15px;
    margin-left: auto;
}

main {
    display: flex;
    flex-grow: 1;
}
.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-bar {
    width: 40em;
    background-color: var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: top;
}

footer {
    background-color: var(--header-color);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}