<h2 mat-dialog-title class="loginTitle">Log In / Register</h2>
<mat-dialog-content class="loginForm">
    <mat-form-field>
        <mat-label for="username">Username: </mat-label>
        <input matInput id="username" [formControl]="username">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="password">Password: </mat-label>
        <input matInput id="password" [formControl]="password">
    </mat-form-field>
</mat-dialog-content>
<button mat-stroked-button color="accent" (click)="loginButtonClick()"> Log In </button>


