
<!--
TODO: move down the username and password button slightly
-->
<ng-container *ngIf="modalType === 'login'">
    <h2 mat-dialog-title class="title">Log In</h2>
    <mat-dialog-content class="loginForm">
        <mat-form-field color="accent">
            <mat-label for="username">Username: </mat-label>
            <input matInput placeholder="Username" id="username" [formControl]="username">
        </mat-form-field>
        <mat-form-field color="accent"> 
            <mat-label for="password">Password: </mat-label>
            <input matInput placeholder="Password" id="password" [formControl]="password">
            <mat-error>{{loginError}}</mat-error>
        </mat-form-field>
        <button mat-stroked-button color="accent" (click)="loginButtonClick()" class="accountbutton" > Log In </button>
    </mat-dialog-content>
    <mat-dialog-actions align="start">
        <button mat-button color="accent" (click)="modalSwitchClick('register')">Don't have an account? Register</button>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="modalType === 'register'">
    <h2 mat-dialog-title class="title">Create Account</h2>
    <mat-dialog-content class="loginForm">
        <mat-form-field color="accent">
            <mat-label for="username">Username: </mat-label>
            <input matInput placeholder="Username" id="username" [formControl]="username">
            <mat-error>{{registerError}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent"> 
            <mat-label for="password">Password: </mat-label>
            <input matInput placeholder="Password" id="password" [formControl]="password">
        </mat-form-field>
        <button mat-stroked-button color="accent" (click)="registerButtonClick()" class="accountbutton"> Register </button>
    </mat-dialog-content>
    <mat-dialog-actions align="start">
        <button mat-button color="accent" (click)="modalSwitchClick('login')">Have an account? Log In</button>
    </mat-dialog-actions>
</ng-container>








